.pricing-info{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    gap: 30px;
    margin: 60px 50px;
    padding: 30px;
    line-height: 25px;

}
.pricing-info .pricing-info-left{
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: flex-start;
    line-height: 45px;
    padding: 0 10px;
    font-size: 20px;

}
.pricing-info .pricing-info-right{
    display: flex;
    /* width: 50%; */
    justify-content: center;
    align-items: flex-start;

}
.ourPricing-section{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 80px;
    gap: 50px;
}
.ourPricing-section .ourPricing-btns{
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: flex-start;
    background-color: white;
    padding: 10px;
}
.ourPricing-btns button{
    height: 35px;
    width: 80px;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 14px;
    background-color: #ffb500;
     color: white;
    box-shadow: 0.5px 0.5px #262626;
    transition: 0.5s ease-in-out;
}
.ourPricing-btns #yearly{
    width: 70px;
    color: #262626;
    background-color: rgb(244, 244, 242);
}
.ourPricing-btns button:hover{
    padding: 1px;
    transform: scale(1.05);
    box-shadow: 1px 1px #262626;
 }
.ourPricing-section .price-bottom{
    display: flex;
    width: 100%;
    background-color: white;
    align-items: center;
    justify-content: center;
    padding:45px;
    gap: 20px;
 }
 .price-bottom .price-card-container{
    display: flex;
    background-color: white;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
    border: 1.2px solid #F1F1F3;
    border-radius: 8px;
 }
 .price-card-container .plan{
    border: 1px solid #FFEACC ;
    width: 100%;
    background-color: #FFF9F0;
    text-align: center;
    border-radius: 5px;
    padding: 13px 0;
    margin-bottom: 25px;
 }
 .price-card-container .validity{
    width: 100%;
    text-align: center;
    margin-bottom: 25px;

 }
 .validity h1{
    font-size: 50px;
 }
 .validity sub{
    font-size: 15px;
    font-weight: normal;
 }
 .price-card-container button{
    width: 100%;
    padding: 20px 0;
    color:  whitesmoke;
    border: none;
    outline: none;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    font-weight: 550;
 }
 .price-card-container .features-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    border: 1.3px solid #F1F1F3;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    padding: 20px;
 }
 .features-container .feature{
    width: 100%;
    text-align: center;
    padding: 5px 0;
    margin-bottom: 30px;
 }
 .features-container .list-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
 }
 .list-container .list-item{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: white;
    gap: 10px;
    padding: 10px;
    border: 1.2px solid #F1F1F3;
    border-radius: 10px;
 }
 .list-item img{
    width: 20px;
 }
 .list-item p{
    font-size: 13px;
 }