.about-info{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    gap: 30px;
    margin: 60px 50px;
    padding: 30px;
    line-height: 25px;

}
.about-info .about-info-left{
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: flex-start;
    line-height: 45px;
    padding: 0 10px;
    font-size: 20px;

}
.about-info .about-info-right{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.achievements{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    gap: 30px;
    margin: 60px 50px;
    padding: 40px;
    line-height: 25px;
}
.achievements .achieve-top{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    margin-bottom: 50px;
}
.achievements .about-card-container{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;


}
.about-card-container .about-card{
    background-color: white;
    width: 49%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.5);
    gap: 30px;
    padding: 50px 0px 50px 30px;
    border-radius: 10px;
}
.about-card .about-img img{
    width: 50px;
}

.goals{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    gap: 30px;
    margin: 60px 50px;
    padding: 40px;
    line-height: 25px;
}
.goals .goals-top{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    margin-bottom: 50px;

}
.goals .goals-card-container{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    margin-bottom: 50px;

}
.goals-card-container .goals-card{
    background-color: white;
    width: 49%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.5);
    gap: 30px;
    padding: 50px 0px 50px 30px;
    border-radius: 10px;
}
.goals-card .goals-img img{
    width: 50px;
}
.goals .together-div{
    height: 30vh;
    display: flex;
    background: url("../PageAssets/01.png") no-repeat 80%;
    background-size: contain;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    gap: 50px;
    /* margin-bottom: 50px;  */
    background-color: #fff;
}
.together-div .together-left{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 18px;
    gap: 15px;
}

.together-left h2 span{
    color: #ffb500;
}
.together-left p{
    font-size: 13px;
}
.together-right button{
    height: 40px;
    width: 90px;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 15px;
    transition: 0.5s ease-in-out;
}
.together-right button:hover{
    padding: 2px;
    transform: scale(1.08);
    box-shadow: 2px 2px #262626;
 }

